<%=button_to 'Back to Main Page', surveys_path, method: :get%>
<h2>List of completed surveys for: <%=@user.username%></h2>

<%@completedsurveys.each do |csurvey|%>
  <%if csurvey.taker_id == session[:user_id]%>
    <%=button_to csurvey.survey.title, survey_path(id: params[:survey_id]), method: :get%><br>
  <%end%>
<%end%>