<h2>Make a new choice</h2>

<%=form_for @choice do |f|%>
  <label for="choice">Choice:</label>
  <%=f.text_field :content%>
  <label for="question_id">Question Id:</label>
  <%=f.text_field :question_id%>
  <%=f.submit "Add Choice"%>
<%end%>