<h4> AVAILABLE SURVEYS </h4>

<% @surveys.each do |survey| %>
  <ul>
    <li> <%= link_to survey.title, survey %>
      <%= survey.description %> </li>
  </ul>
<% end %>
  <%= button_to "User Profile", user_path, method: :get %>
