<%= @survey.title %>
<br>
<% @question.each do |question| %>
  <ul>
    <li> <%= question.content %>
      <%=button_to 'Edit Question', edit_question_path(id: question.id), method: :get %>
    </li>
  </ul>
<% end %>



