#hidethisshit {
  text-align: center;
}

.panda {
  text-align: center;
}

#user_profile {
  text-align: center;
}

#logout_button {
  margin-left: 95%;
}

.surveys {
  text-align: center
}

.choices {
  margin-right: 5%
}





